.dialog-pane {
  -fx-background-color: #1e1e2e;
  -fx-border-color: #664E88;
  -fx-border-width: 2px;
  -fx-padding: 20px;
}

.dialog-pane .header-panel {
  -fx-background-color: #1e1e2e;
}

.dialog-pane .header-panel .label {
  -fx-text-fill: #fff;
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}

.dialog-pane .content.label {
  -fx-text-fill: #b0b3b8;
  -fx-font-size: 14px;
}

.button {
  -fx-background-color: #3b82f6;
  -fx-text-fill: #fff;
  -fx-font-size: 14px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-cursor: hand;
}

.button:hover {
  -fx-background-color: #2e2e3a;
}