.playlist-box {
  -fx-background-color: #1E2E2E;
  -fx-padding: 12px 16px;
}

.playlist-title {
  -fx-text-fill: #fff;
  -fx-font-weight: bold;
  -fx-font-size: 14px;
  -fx-text-alignment: left;
  -fx-padding: 12px 4px;
}

.playlist-text {
  -fx-text-fill: #fff;
  -fx-font-size: 12px;
}

.playlist-subtext {
  -fx-text-fill: #ffffff90;
  -fx-font-size: 10px;
}

.playlist-onplay {
  -fx-background-color: #664E88;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
}

.playlist-hover:hover {
  -fx-background-color: #664e88;
}

.playlist-onplay .playlist-subtext {
  -fx-text-fill: #fff;
}

.clear-button {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-effect: none;
  -fx-cursor: hand;
}