.root {
  -fx-background-color: #1E1E2E;
}

.scroll-bar {
  -fx-background-color: #2e2e3a;
}

.scroll-bar .thumb {
  -fx-background-color: #3b82f6;
}

.scroll-bar .track {
  -fx-background-color: #2e2e3a;
}

.clear-button {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-effect: none;

  -fx-cursor: hand;
}

.tab-pane .tab-header-background {
  -fx-background-color: #1e1e2e;
}

.tab-pane {
  -fx-background-color: #664E88;
}

.tab-pane .tab:selected {
  -fx-background-color: #4caf50;
  -fx-border-color: #fff;
  -fx-border-width: 0 0 2 0;
  -fx-border-radius: 0;
}

.tab {
  -fx-background-color: #664E88;
}

.tab-label {
  -fx-text-fill: #fff;
  -fx-font-weight: bold;
}